 @charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

h1 {
  font-weight: 900;
}
/* NAVBAR */
nav{
  padding: 0 0.5rem !important;
  
}
.logo-img {
  height: 2rem;
}
.txt-color .navbar-nav .nav-link,
.dropdown-item>a {
  color: #fff !important;
}
.bg-down,.bg-down .dropdown-item {
  background: transparent;
  border: 0;
}
.dropdown:hover .bg-down,.displayblock{
  display: block;
}
.menu-collapse{
  color: #fff;
  text-shadow: 0 0 5px #eb0404, 0 0 8px #a003fc;

}

.bg-down .dropdown-item a:hover,
.txt-color .navbar-nav .nav-link:hover {

  color: rgb(109, 209, 16) !important;
  
}

.owl-item {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 900px;
}
.owl-carousel{
  z-index: 0;
}
.carousel-text {

  color: #fff;
  text-shadow: 0 0 5px #eb0404, 0 0 8px #a003fc;
  height: 100%;
}
/* NAVBAR */
.burger-navbar-light.shrink{
  background: rgba(0, 0, 0, 0.5);
  padding:1rem 0;
  position: sticky;
  top: 0;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
} 
.shrink-dropdown-awake{
  background: rgba(0, 0, 0, 0.5);
  margin-top: -0.05rem;
 
}

.burger-navbar-light{
  background: transparent ;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 3;
}

/* NAVBAR */

.bgc {
  text-align: center;
  padding: 20px;
  border-radius: 30%;
  width: 50%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+30,0.5+70,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */

}
.owl-carousel .owl-stage .owl-item .overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: -moz-linear-gradient(140deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)100%);
  background: -webkit-linear-gradient(140deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)100%);
  background: -o-linear-gradient(140deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)100%);
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.7)0%, rgba(0, 0, 0, 0)100%);
}


@media(max-width:767.98px) {
  .bgc {
    
    width: 100%;
   
  }
  .owl-item{
    height: 400px;
  }
}
.color-1{
  background-color: rgb(174, 250, 52);
}
.color-2{
  background-color: rgb(75, 250, 52);
}
.color-3{
  background-color: rgb(52, 236, 159);
}
.intro .container{
 
  margin-top: -100px;
}  
/* card */
.card-intro{
  text-align: center;

}
.product-description .container .card-group .card{
  margin-bottom: 5px;
  margin-right: 10px;
  /* box-shadow: 5px 5px rgb(99, 98, 98); */
}
.product-description .container .card-group .card:hover{
  margin-bottom: 8px;
  margin-right: 15px;
  box-shadow: 5px 5px rgb(99, 98, 98);
}
.product-description .container .card-group .card .card-body{
  border: 0.5px solid rgb(167, 170, 170);
}
.card-title{
  text-align: center;
}
@media(max-width:768px){
  .container .row .card:nth-of-type(1){
    margin-bottom: 2rem;
  }
}
.py-4 .row .card {
  border: 0!important;
} 
.bg-img{
  
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding: 180px 60px 420px ;
 
  
}
.bg-img h3{
  color: #fff;
  text-shadow: 0 0 5px #eb0404, 0 0 8px #a003fc;
  text-align: center;
  height: 100%;
  width: 30%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+30,0.5+70,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */
}
/* footer */
.footer-img{
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

footer h5{
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #eb0404, 0 0 8px #a003fc;
  border-bottom: 5px solid #1ac215;
  padding-bottom: 5px;
  margin-bottom: 3px;
  
}
footer p{
  color: #fff;

}
.footer-img .overlay{
  padding: 80px 20px;
  background-color:hsla(0,0%,0%,.5);
  background-image: url(../images/bg-pattern-4.png);
}
footer h6{
  color: #fff;
  border-bottom: 2px solid rgb(26, 194, 21);
  padding-bottom: 5px;
  padding-top: 0.25rem;
}
.footer-nav .nav-item .nav-link{
  color: #fff;
  border-bottom: 2px solid rgba(26, 194, 21,.75);
  padding: 0.5rem 0 0;
}
.footer-nav .nav-item .nav-link:hover{
  font-size: 1.5rem;
  color: rgb(74, 243, 7);
  background: #fff;
  border-radius: 7px;
}

#gotop {
  position:fixed;
  z-index:90;
  right:30px;
  bottom:31px;
  display:none;
  width:50px;
  height:50px;
  color:#fff;
  background:#4cfd3c;
  line-height:50px;
  border-radius:50%;
  transition:all 3s;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 5px 15px 0 rgba(0,0,0,0.12);
}
#gotop:hover{
  background:rgb(5, 145, 58)!important;
}
.google-map{
  position: relative;
   padding-bottom: 56%;/*googlemap 比例 4:3(3/4=0.75) ，Youtube 為16:9(9/16=0.5625)*/
   
}
.google-map iframe{
  position: absolute;
    width: 100%;
  height: 100%;

}
/* news-YT */
.video-li{
  display: flex;
  
}
.video-img{
  width: 7.5rem;
  height: 5.65rem;
  margin-right: 1.5rem;
}
#result-list{
  list-style: none;
}